/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

#root {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* GENERAL SECTION OF THE FIRST VIEW. LOGIN PAGE */
.login-section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

/* first div to the left with the image */
.first-login-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  font-family: 'Dancing Script';
}

.image-login {
  display: flex;
  padding-top: 100px;
  align-items: center;
  z-index: -1;
}

.login-welcome {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: normal;
}

/* second div to the right with the login card */
.second-login-div {
  display: flex;
  height: 100%;
  width: 50%;
}

.login-card {
  display: flex;
  flex-direction: column;
  margin: 20% auto;
  padding: 10px;
  height: 60%;
  width: 45%;
  font-family: 'Arima Madurai';
  background-color: #EFD7AD;
  border: solid black 1px;
  border-radius: 10px;
}

.login-header {
  display: flex;
  font-family: 'Cookie';
  font-weight: normal;
  font-size: 64px;
  padding-top: 50px;
  justify-content: center;
}

.login-subtitle {
  display: flex;
  font-size: 26px;
  font-weight: normal;
  margin: 50px auto;
  justify-content: center;
}

/* Google login button */
.login-button {
  display: flex;
  height: 60px;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  font-size: 21px;
  font-weight: normal;
  font-family: 'Noto Sans JP';
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

/* Google logo*/
.image-button {
  display: flex;
  height: 43px;
  width: 43px;
  order: -1;
  margin: 5px;
}

.login-button:hover {
  outline: 1px solid black;
}

.login-line{
  display: flex;
  width: 160px;
  margin: 50px auto;
  border: 1px solid black;
}

.login-tip {
  display: flex;
  font-size: 20px;
  font-weight: normal;
  margin: 20px auto;
}

.mobile-image {
  display: none;
}

/* GENERAL SECTION OF THE SECOND VIEW. HOME PAGE. */
.home-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* menu bar */
.home-menu {
  display: flex;
  flex-direction: row;
  background-color: #EFD7AD;
  height: 10%;
  width: 100%;
  border-bottom: 2px solid black;
}

.home-header {
  position: absolute;
  padding: 16px;
  font-family: 'Cookie';
  font-weight: normal;
  font-size: 64px;
}

.home-image {
  display: none;
}

/* logout button on menu */
.logout-image {
  display: flex;
  padding: 16px;
  margin-left: 95%;
  cursor: pointer;
}

/* main section for the posts */
.home-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.cats-image {
  position: absolute;
  height: 40%;
  width: 20%;
  margin-top: 23%;
}

/*div container for the posts*/
.div-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
}

.post-input {
  display: flex;
  height: 20%;
  width: 25%;
  font-size: 18px;
  font-family: 'Nanum Gothic Coding';
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px;
  background-color: #EFD7AD;
  overflow: auto;
  outline: none;
  resize: none;
  order: -1;
  word-break: break-all;
  border-radius: 10px;
  border: 2px solid black;
}

.post-button {
  display: flex;
  margin: 10px auto;
  margin-left: 58%;
  padding: 7px;
  color: white;
  height: 40px;
  width: 55px;
  background-color: black;
  font-size: 15px;
  font-family: 'Nanum Gothic Coding';
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  order: -1;
}

.post-button:hover {
  outline: 2px solid #EFD7AD;
}

.post-div {
  position: relative;
  flex-direction: column;
  height: 20%;
  width: 25%;
  font-size: 18px;
  font-family: 'Nanum Gothic Coding';
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px;
  background-color: #EFD7AD;
  overflow: auto;
  outline: none;
  resize: none;
  word-break: break-all;
  border-radius: 10px;
  border: 2px solid black;
}

.delete-button {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 92%;
  bottom: 5%;
  cursor: pointer;
}

/* Responsive tablets */
@media (max-width: 834px) {
  .first-login-div, .login-tip, .cats-image {
    display: none;
  }

  .second-login-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .login-card {
    display: flex;
    height: 45%;
    width: 45%;
  }

  .login-button {
    display: flex;
    height: 60px;
    width: 80%;
  }

  .mobile-image {
    display: flex;
    height: 20%;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 15%;
  }
  
  .home-menu {
    display: flex;
    width: 100%;
  }

  .logout-image {
    display: flex;
    padding: 15px;
    margin-left: 85%;
  }

  .post-input {
    display: flex;
    height: 20%;
    width: 45%;
  }

  .post-button {
    display: flex;
    margin-left: 63%;
    height: 40px;
    width: 58px;
    font-size: 17px;
  }

  .post-div {
    position: relative;
    height: 20%;
    width: 45%;
    margin-top: 55px;
  }
  
  .delete-button {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 92%;
    bottom: 5%;
  }
}

/* Responsive mobile */
@media (max-width: 428px) {
  .first-login-div, .login-tip, .home-header, .cats-image {
    display: none;
  }

  .second-login-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .login-card {
    display: flex;
    flex-direction: column;
    margin: 20% auto;
    padding: 5px;
    height: 50%;
    width: 70%;
  }

  .login-header {
    font-size: 50px;
    padding-top: 40px;
  }
  
  .login-subtitle {
    display: flex;
    font-size: 20px;
    font-weight: normal;
    margin: 35px auto;
  }

  .login-button {
    display: flex;
    height: 60px;
    width: 88%;
    font-size: 16px;
    font-weight: normal;
 
}

  .login-line {
    display: flex;
    width: 160px;
    margin: 35px auto;
    border: 1px solid black;
}

  .mobile-image {
    display: flex;
    height: 20%;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 15%;
  }

  .home-menu {
   position: absolute;
   margin-top: 180%;
   border-top: 2px solid black;
  }

  .home-image {
    display: flex;
    padding: 15px;
  }

  .logout-image {
    display: flex;
    padding: 15px;
    margin-left: 63%;
  }

  .post-input {
    display: flex;
    height: 18%;
    width: 60%;
  }

  .post-button {
    display: flex;
    margin-left: 60%;
    height: 40px;
    width: 58px;
    font-size: 17px;
  }

  .post-div {
    position: relative;
    height: 18%;
    width: 60%;
    margin-top: 50px;
  }
  
  .delete-button {
    height: 18px;
    width: 18px;
    left: 88%;
    bottom: 5%;
  }
}