/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

#root {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* GENERAL SECTION OF THE FIRST VIEW. LOGIN PAGE */
.login-section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

/* first div to the left with the image */
.first-login-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  font-family: 'Dancing Script';
}

.image-login {
  display: flex;
  padding-top: 100px;
  align-items: center;
  z-index: -1;
}

.login-welcome{
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: normal;
}

/* second div to the right with the login card */
.second-login-div {
  display: flex;
  height: 100%;
  width: 50%;
}

.login-card {
  display: flex;
  flex-direction: column;
  margin: 20% auto;
  padding: 10px;
  height: 60%;
  width: 45%;
  font-family: 'Arima Madurai';
  background-color: #EFD7AD;
  border: solid black 1px;
  border-radius: 10px;
}

.login-header {
  display: flex;
  font-family: 'Cookie';
  font-weight: normal;
  font-size: 64px;
  padding-top: 50px;
  justify-content: center;
}

.login-subtitle {
  display: flex;
  font-size: 26px;
  font-weight: normal;
  margin: 50px auto;
  justify-content: center;
}

/* Google login button */
.login-button {
  display: flex;
  height: 60px;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  font-size: 21px;
  font-weight: normal;
  font-family: 'Noto Sans JP';
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.image-button {
  display: flex;
  height: 43px;
  width: 43px;
  order: -1;
  margin: 5px;
}

.login-button:hover {
  outline: 1px solid black;
}

.login-line{
  display: flex;
  width: 160px;
  margin: 50px auto;
  border: 1px solid black;
}

.login-tip {
  display: flex;
  font-size: 20px;
  font-weight: normal;
  margin: 20px auto;
}

/* GENERAL SECTION OF THE SECOND VIEW. HOME PAGE. */
.home-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* border: 2px solid purple; */
}

/* menu bar */
.home-menu {
  display: flex;
  background-color: #EFD7AD;
  height: 10%;
  width: 100%;
  border-bottom: 2px solid black;
  order: -1;
  /* border: 2px solid red; */
}

/* logout button */
.logout-image {
  display: flex;
  cursor: pointer;
  padding: 15px;
  /* border: 2px solid black; */
}



/* main section for the posts */
.home-main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  /* border: 2px solid green; */
}

 /* .home-icon {
  display: flex;
  height: 70%;
  width: 40%;
  border: 1px solid black;
} */

 .logout-image {
  display: flex;
  margin-left: 95%;
  padding: 15px;
  /* border: 2px solid black; */
}

.post-input {
  display: flex;
  height: 20%;
  width: 25%;
  font-size: 18px;
  font-family: 'Nanum Gothic Coding';
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px;
  background-color: #EFD7AD;
  overflow: auto;
  outline: none;
  resize: none;
  order: -1;
  word-break: break-all;
  border-radius: 10px;
  border: 2px solid black;
}

.post-button {
  display: flex;
  margin: 10px auto;
  margin-left: 55%;
  padding: 7px;
  color: white;
  height: 5%;
  width: 5%;
  background-color: black;
  font-size: 15px;
  font-family: 'Nanum Gothic Coding';
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  order: -1;
}

.post-button:hover {
  outline: 2px solid #EFD7AD;
}

.post-div {
  display: flex;
  height: 20%;
  width: 25%;
  font-size: 18px;
  font-family: 'Nanum Gothic Coding';
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px;
  background-color: #EFD7AD;
  overflow: auto;
  outline: none;
  resize: none;
  word-break: break-all;
  border-radius: 10px;
  border: 2px solid black;
}